/* src/ComposeBox.css */
.compose-box {
    width: 500px;
    position: fixed;

    bottom: 1rem;
    right: 1rem;

    border: 1px solid var(--gray-500);
    border-radius: 8px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    background-color: var(--white-800);

    color: var(--black-800);
  }
  
  .compose-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border-bottom: 1px solid var(--gray-500);
    background-color: var(--gray-600);
  }
  
  .compose-close {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .compose-body {
    padding: 1rem;
  }
  
  .compose-input {
    width: 100%;

    border: none;
    border-bottom: 1px solid var(--gray-500);

    padding: .6rem 0;
    font-size: 14px;
  }
  
  .compose-input:focus {
    outline: none;
  }
  
  .compose-textarea {
    width: 100%;
    border: none;
    padding: .6rem 0;
    font-size: 1rem;
    height: 10rem;
    resize: none;
  }
  
  .compose-textarea:focus {
    outline: none;
  }
  
  .compose-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem;
    border-top: 1px solid var(--gray-500);
  }
  
  
.prompt-overlay {
    position: relative;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-800);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 9;
}

.prompt-container {
    background-color: var(--white-800);
    padding: 2px;
    border-radius: 4px;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 30px;
}

.loading-notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
body{
    font-family: 'Courier New', Courier, monospace;
}

/* Ai button */
.Ai-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 2.5rem;
  aspect-ratio: 21/9;
  font-weight: bold;
  color: var(--black-800);
  background-color: var(--white-800);

  border-radius: 20px;

  cursor: pointer;
  outline: none;
  border: 2px solid #688AE9;
}

.compose-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
