.main-navigation {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 0px;
}

.composeSec {
    margin-bottom: 1.5rem;
}