a {
    color: var(--white-800);
    text-decoration: none;
}

.attSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 85vh;
}

.page {
    align-self: center;
}

.subject {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.subject h2 {
    margin: 0 2rem 0 0;
}
