.navbar {
  color: var(--black-900);
  font-family: 'uber move', sans-serif, -apple-system, system-ui;
  
  width: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-center .nav-links {
  list-style-type: none;
}
  
.navbar-center .nav-links a {
  text-decoration: none;
  cursor: pointer;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black-800);

  margin-bottom: .5rem;
  margin-left: 4.5rem;
}

.search-bar {
  width: 50%;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: -100px;
}
