.navbar {
  color: var(--black-900);
  font-family: 'uber move', sans-serif, -apple-system, system-ui;
  
  width: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-center .nav-links {
  list-style-type: none;
}
  
.navbar-center .nav-links a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black-800);
}

.search-bar {
  width: 50%;
}
