@font-face {
  font-family: 'UberMove';
  src: url('./fonts/UberMoveBold.otf') format('otf'),
       url('./fonts/UberMoveMedium.otf') format('otf'),
       url('./fonts/UberMoveMono-Medium.ttf') format('ttf'),
       url('./fonts/UberMoveMono-Regular.ttf') format('ttf');

  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'UberMove',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black-800: #191918;
  --black-900: #0e0e0f;

  --gray-500: #e8e8e8;
  --gray-600: #f1f3f4;
  --gray-800: #5e5e5e;

  --white-800: #fcfcfc;

  --blue-500: #5B91F5;

  /* color gradiant */
  --color-gradient: linear-gradient(90deg, #688AE9 0%, #C66D7B 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.TopPart {
  margin: .5rem 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main {
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.bottomPart {
  margin: 0 1rem;
} 

/* Below code is for Authentication seciton */
